name: Release

on:
  release:
    types: [created]

permissions:
  id-token: write # Required for OIDC
  contents: read # Required for checking out code

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: main

      - name: Setup mise
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2
        with:
          experimental: true

      # Required equal or greater than npm 11.5.1 for OIDC
      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: pnpm install

      - name: Publish to npm
        run: pnpm publish
